.highlight-row {
  background-color: rgba(255, 255, 0, 0.15) !important;
}

/* .highlight-row:hover,
.highlight-row:focus {
  opacity: 0.1;
} */


.lowlight-row {
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}

.hidden-row {
  /* display: none !important;  */

  visibility: hidden !important;
}

